i.material-icons{
    margin: 0;
    font-size: 2em;
    vertical-align: middle;
    margin-bottom: .1em;
}

div.player{
    width: 100vw;
    height: 65px;
    position: absolute;
    bottom: 0;
    display: block;
    background: white;
}

div.player-wrap{
    width: 100vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div.player-meta-wrap{
    width: 100vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: .75em;
    cursor: default;
}

span.player-controls , span.timeline{
    cursor: pointer;
    font-size: 1em;
}

span.status{
    margin-left: .5em;
}

span.player-controls , input.player-scrub , span.timeline{
    vertical-align: middle;
}

input.player-scrub{
    margin-left: 1em;
    margin-right: 1em;
}

input[type=range]{
    -webkit-appearance: none;
    width: 60vw;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    border: 2px solid black;
    background-color: white;
    height: 12px;
    width: 12px;
    margin-top: -5px;
    cursor: pointer;
}

input[type=range]:focus{
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-runnable-track{
    background: black;
    height: 2px;
}
