i.material-icons{
    margin: 0;
    font-size: 2em;
    vertical-align: middle;
    margin-bottom: .1em;
    color: rgb(0, 0, 0);
}

div.player{
    width: 100vw;
    height: 80px;
    position: absolute;
    bottom: 0;
    display: block;
    padding-top: 1.55em;
    background: rgb(255, 255, 255);
    border-top: 1px solid rgb(240, 240, 240);
    box-shadow: 0px -2px 50px 2px #dedede;
    color: rgb(0, 0, 0);
}

div.player-wrap{
    width: 100vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div.player-meta-wrap{
    width: 100vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: .75em;
    cursor: default;
}

span.live-status{
    border: 1px solid rgb(216, 30, 30);
    color: rgb(216, 30, 30);
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .1em;
    padding-bottom: .1em;
}

div.player-control-wrap{
    width: 100vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: .75em;
    cursor: default;
}

span.player-controls , span.timeline{
    cursor: pointer;
    font-size: 1em;
}

span.status{
    margin-left: .5em;
}

span.player-controls , input.player-scrub , span.timeline{
    vertical-align: middle;
}

input.player-scrub{
    margin-left: 1em;
    margin-right: 1em;
}

input[type=range]{
    -webkit-appearance: none;
    width: 60vw;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
    height: 12px;
    width: 12px;
    margin-top: -5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

input[type=range]::-webkit-slider-thumb:hover{
    width: 24px;
}

input[type=range]:focus{
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-runnable-track{
    background: rgb(0, 0, 0);
    height: 2px;
}

@media screen and (max-width: 800px){
    input[type=range]{
        width: 60vw;
    }
    span.repeat-once{
        display: none;
    }
}

@media all and (display-mode: standalone) {
    div.player{
        height: 100px;
    }    
}